/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            label = "new_macro";
            #binding-cells = <0>;
            bindings = <&kp RC(ENTER)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        windows {
            bindings = <
                 &kp ESC              &kp GRAVE    &kp N1    &kp N2  &kp N3     &kp N4     &kp N5    &kp N6      &kp N7         &kp N8    &kp N9     &kp N0   &kp MINUS  &kp EQUAL    &kp BACKSPACE
                 &kp DEL                &kp TAB     &kp Q     &kp W   &kp E      &kp R      &kp T     &kp Y       &kp U          &kp I     &kp O      &kp P    &kp LBKT   &kp RBKT    &kp BACKSLASH
   &kp F1      &kp PSCRN             &lt 1 CAPS     &kp A     &kp S   &kp D      &kp F      &kp G     &kp H       &kp J          &kp K     &kp L   &kp SEMI     &kp SQT  &kp ENTER  &rgb_ug RGB_TOG
   &kp F2    &kp PAGE_UP             &kp LSHIFT     &kp Z     &kp X   &kp C      &kp V      &kp B     &kp N       &kp M      &kp COMMA   &kp DOT  &kp SLASH  &kp RSHIFT     &kp UP            &mo 1
 &lt 2 F3  &kp PAGE_DOWN  &mt LEFT_SHIFT DELETE  &kp LWIN  &kp LALT   &mo 1  &kp SPACE  &kp SPACE  &kp RALT  &kp K_MENU  &kp RIGHT_WIN  &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        windows_fn {
            bindings = <
               &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &kp F1    &kp F2      &kp F3         &kp F4            &kp F5  &kp F6    &kp F7           &kp F8             &kp F9       &kp F10     &kp F11       &kp F12  &kp C_MUTE
               &rgb_ug RGB_SAI           &trans  &trans    &trans      &kp UP         &trans            &trans  &trans    &trans     &kp C_BRI_UP             &trans        &trans      &trans        &trans      &trans
       &tog 3  &rgb_ug RGB_SAD           &trans  &trans  &kp LEFT    &kp DOWN      &kp RIGHT            &trans  &trans  &kp HOME     &kp C_BRI_DN            &kp END        &trans      &trans           &m1      &trans
 &out OUT_USB  &rgb_ug RGB_BRI           &trans  &trans    &trans  &kp K_BACK  &kp K_FORWARD            &trans  &trans    &trans  &kp K_VOLUME_UP  &kp K_VOLUME_DOWN        &trans      &trans  &kp C_VOL_UP      &trans
 &out OUT_BLE  &rgb_ug RGB_BRD           &trans  &trans    &trans      &trans     &kp C_MUTE  &kp K_PLAY_PAUSE  &trans    &trans           &trans         &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT
            >;
        };

        bluetooth {
            bindings = <
             &trans  &bt BT_NXT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
         &bt BT_CLR  &bt BT_PRV        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans      &trans      &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
